.nav_active{
    color: rgb(20, 205, 168) !important;
}

.truncated-paragraph{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
  }